@import "../../app.scss";

.portfolio {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;

    .textContainer {

        .mainTitle {
            font-size: 2.5rem;
            font-weight: 700;
    
            @include media(mobile) {
                font-size: 1.5rem !important;
                margin-top: 2rem;
            }
        }
    }
}

