.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: var(--beige);
    margin-top: 5vh ;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    padding: 10vh 0 10vh 0;
}

.portfolio {
    margin-bottom: 4rem;
}

.name {
    font-family: Bogart SemiBold;
    font-size: 7rem;
}

.discovery {
    margin-top: 5rem;
    padding: 1rem;
    font-family: Georgia Pro Light;
    font-size: 1.5rem;
    background-color: var(--light-brown);
    border-radius: 1rem;
}

.main-portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-image: url('../../public/images/shape.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
}

.main-portrait img {
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
}


@media screen and (max-width: 1024px) {
    .hero-container {
        height: 100vh;
    }

    .main-section {
        width: 80vw;
    }

    .name {
        font-size: 5rem;
    }

    .main-portrait {
        display: none;
    }

}