.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 3%;
  background-color: var(--beige);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-family: Bogart SemiBold;
  font-size: 2rem;
}

.project-year {
  font-family: Georgia Pro Cond;
  font-size: 1rem;
}

.project-description {
  font-family: Georgia Pro Light;
  font-size: 1rem;
  margin-top: 1rem;
}

.project-technologies {
  font-family: Georgia Pro Cond;
  font-size: 1rem;
  margin-top: 1rem;
}

.project-tools {
  font-family: Georgia Pro Cond;
  font-size: 1rem;
  margin-top: 1rem;
}

.project-git-link {
  margin-top: 1rem;
}

.project-git-link a{
  color: var(--dark-pink);
  font-family: Georgia Pro Light;
  font-size: 1rem;
}