@import "../../app.scss";

.navbar {
    height: 5rem;
    width: 100%;
    position: absolute;
    z-index: 100;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include media(desktop) {
            justify-content: flex-end;
            padding: 1rem;
        }
    }

    span {
        font-weight: bold;

        @include media(desktop) {
            display: none;
        }
    }

    .social {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 1.5rem;
            height: 1.5rem;
            filter : invert(1);
        }
    }
}