:root {
    --purple: #32213A;
    --blue: #383B53;
    --gray: #66717E;
    --light-beige: #D4D6B9;
    --beige: #D1CAA1;
    

    --white: #F5F5F5;
    --light-gray: #E5E7E6;
    --gray: #B7B5B3;
    --green: #4C6B56;
    --light-green: #759780;
    --black: #141301;
}

$breakpoints: (
  mobile : 767px, 
  tablet : 1024px, 
  desktop: 1366px
);

@mixin media($keys...){
  @each $key in $keys { 
    @media (max-width: map-get($breakpoints, $key)){
      @content
    } 
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--light-gray);
    color: var(--green);
}

section {
    height: 100vh;
}

